body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: monospace;
    overflow-x: hidden;
}

.outer-container {
    display: flex;
    min-height: 100vh;
    min-width: 1000px;
}

.left-border, .right-border {
    flex-grow: 1;
    background-color: #f0f0f0;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.container {
    flex: 0 0 800px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    position: relative;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ddd;
}

.logo {
    font-weight: bold;
    font-size: 24px;
}

.konto-button {
    background-color: #007BFF;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.logo-container {
    margin-bottom: 20px;
}

.logo-image {
    width: 150px;
}

.such-container {
    width: 100%;
    margin-bottom: 20px;
}

.such-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.markt-container {
    width: 100%;
}

#stocks-container {
    margin-bottom: 20px;
}

.price-info {
    margin-bottom: 20px;
}

.price-value {
    font-weight: bold;
}

.available-units {
    font-size: 14px;
    color: #888;
}

.action-buttons {
    display: flex;
    justify-content: space-between;
}

.buy-container, .sell-container {
    display: flex;
    align-items: center;
}

.action-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.action-button img {
    width: 40px;
}

.buy-amount, .sell-amount {
    width: 60px;
    padding: 5px;
    margin-left: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

#guthaben-container {
    margin: 20px 0;
}

#inventar-container {
    width: 100%;
}

#inventar-anzeige {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;
    border-top: 1px solid #ddd;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-links {
    display: flex;
    gap: 20px;
}

.footer-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #007BFF;
}

.footer-button:hover {
    text-decoration: underline;
}

.copyright {
    font-size: 14px;
    color: #888;
}


#login-message {
    display: none;
}