body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: monospace;
    overflow-x: hidden;
}

.outer-container {
    display: flex;
    min-height: 100vh;
    min-width: 1000px;
}

.left-border, .right-border {
    flex-grow: 1;
    background-color: #f0f0f0;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.container {
    flex: 0 0 600px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ddd;
}

.logo {
    font-weight: bold;
    font-size: 24px;
}

.konto-button {
    background-color: #ffffff;
    border: none;
    color: #000;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    padding-top: 40px; /* Erhöht den oberen Abstand */
}

.logo-container {
    margin-bottom: 20px;
}

.logo-image {
    width: 150px;
    height: auto;
}

.content-wrapper {
    display: flex;
    width: 100%;
    aspect-ratio: 4 / 3;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.such-container {
    display: flex;
    align-items: center;
    margin-bottom: 5%;
}

.graph-container {
    flex: 3;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #ddd;
}

.handel-container {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.price-info {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.action-buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.action-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.action-button img {
    width: 100%;
    max-width: 150px;
    height: auto;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px; /* Erhöhter vertikaler Abstand */
    background-color: #f0f0f0;
    border-top: 1px solid #ddd;
    height: 100px; /* Erhöhte Fußzeilenhöhe */
}

.footer-links {
    display: flex;
    gap: 20px;
}

.footer-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.copyright {
    font-size: 14px;
}

.konto-container {
    text-align: center;
    margin-top: 50px;
}

.login-form, .register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.login-form input, .register-form input {
    margin-bottom: 10px;
    padding: 5px;
    width: 200px;
}

.login-form button, .register-form button {
    padding: 5px 10px;
}

.buy-amount, .sell-amount{
    width: 25%;
}

.available-units{
    font-size: 75%;
}